### Q1. Create a list of five integers and print it.

In [1]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

### Q2. Write a program to find the length of a list.

In [2]:
numbers = [1, 2, 3, 4, 5]
print(len(numbers))

5

### Q3. Create a tuple with three elements and print the second item.

In [3]:
tuple = (10, 20, 30)
print(tuple[1])

20

### Q4. Create a dictionary with 3 key-value pairs and print all keys.

In [4]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
keys = my_dict.keys()
print(keys)

dict_keys(['a', 'b', 'c'])

### Q5. Write a program to convert a list into a set.

In [5]:
my_list = [1, 2, 2, 3, 4]
my_set = set(my_list)
print(my_set)

{1, 2, 3, 4}

### Q6. Create a string and print its first and last characters.

In [6]:
text = "Hello"
print(text[0], text[-1])

H o

### Q7. Take input from the user and print it.

In [8]:
x = input("Enter something")
print(x)

amit

### Q8. Write a program to add two numbers entered by the user.

In [10]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
x=num1+num2
print("Sum:", x)

Sum: 10

### Q9. Use `type()` function to check the data type of a variable.

In [11]:
x = 5
print(type(x))

<class 'int'>

### Q10. Create a boolean variable and print it.

In [12]:
x = True
print(x)

True

### Q11. Check if a number is positive, negative, or zero using `if` statement.

In [13]:
num = int(input("Enter num "))
if num > 0:
    print("Pos")
elif num < 0:
    print("Neg")
else:
    print("Zero")

Pos

### Q12. Write a program to check if a number is even or odd.

In [14]:
num = int(input("Enter num"))
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Even

### Q13. Write a program that prints your name 3 times using a `for` loop.

In [19]:
name = str(input("Enter your name"))
for i in range(3):
    print(name)

ahmed
ahmed
ahmed

### Q14. Write a `for` loop that prints numbers from 1 to 10.

In [20]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

### Q15. Use a `for` loop to iterate over a list and print each element.

In [2]:
names = ["ALI", "AHMED", "ALI"]
for x in names:
    print(x)

ALI
AHMED
ALI

### Q16. Write a program to calculate the sum of numbers from 1 to 100.

In [22]:
sum = 0
for num in range(1, 101):
    sum += num
print("Sum:", sum)

Sum: 5050

### Q17. Write a `for` loop that prints only even numbers from 1 to 20.

In [23]:
for num in range(2, 21, 2):
    print(num)

2
4
6
8
10
12
14
16
18
20

### Q18. Write a `for` loop to print each character in a string.

In [24]:
x = "amit"
for char in x:
    print(char)

a
m
i
t

### Q19. Use a `for` loop to print all values in a dictionary.

In [26]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
for value in my_dict.values():
    print(value)

1
2
3

### Q20. Write a program that uses a `for` loop to find the factorial of a number.

In [27]:
n = 5
factorial = 1
while n > 0:
    factorial *= n
    n -= 1
print("Factorial:", factorial)

Factorial: 120

### Q21. Create a list of your 5 favorite fruits.

In [32]:
favorite_fruits = ["apple", "banana", "orange", "mango", "grape"]
print(favorite_fruits)

['apple', 'banana', 'orange', 'mango', 'grape']

### Q22. Add a new fruit to your list of favorite fruits.

In [35]:
favorite_fruits = ["apple", "banana", "orange", "mango", "grape"]
favorite_fruits.append("strawberry")
print(favorite_fruits)

['apple', 'banana', 'orange', 'mango', 'grape', 'strawberry']

### Q23. Remove the second item from a list.

In [36]:
favorite_fruits = ["apple", "banana", "orange", "mango", "grape"]
del favorite_fruits[1]
print(favorite_fruits)

['apple', 'orange', 'mango', 'grape']

### Q24. Sort a list of numbers in descending order.

In [37]:
numbers = [5, 2, 8, 1, 9]
numbers.sort(reverse=True)
print(numbers)

[9, 8, 5, 2, 1]

### Q25. Find the maximum and minimum values in a list.

In [38]:
numbers = [5, 2, 8, 1, 9]
print("Max:", max(numbers), "Min:", min(numbers))

Max: 9 Min: 1

### Q26. Count how many times a value appears in a list.

In [43]:
numbers = [5, 2, 8, 1, 9]
count = numbers.count(1)
print("Count:", count)

Count: 1

### Q27. Check if a specific value exists in a list.

In [94]:
numbers = [5, 2, 8, 1, 9]
print(2 in numbers)

True

### Q28. Reverse a list without using reverse() function.

In [95]:
numbers = [5, 2, 8, 1, 9]
reversed_list = numbers[::-1]
print(reversed_list)

[9, 1, 8, 2, 5]

### Q29. Make a copy of a list and modify the copy only.

In [48]:
numbers = [5, 2, 8, 1, 9]
my_copy = numbers.copy()
my_copy.append(4)
print(numbers)
print(my_copy)

[5, 2, 8, 1, 9]
[5, 2, 8, 1, 9, 4]

### Q30. Use slicing to get the first 3 items of a list.

In [49]:
numbers = [5, 2, 8, 1, 9]
print(numbers[:3])

[5, 2, 8]

### Q31. Create a tuple with 4 elements and print its length.

In [50]:
my_tuple = (1, 2, 3, 4)
print(len(my_tuple))

4

### Q32. Access the last element of a tuple.

In [52]:
my_tuple = (1, 2, 3, 4)
print(my_tuple[-1])

4

### Q33. Convert a tuple into a list.

In [53]:
my_tuple = (1, 2, 3, 4)
tuple_list = list(my_tuple)
print(tuple_list)

[1, 2, 3, 4]

### Q34. Convert a list into a tuple.

In [3]:
L = [1, 2, 3]
t = tuple(L)
t

(1, 2, 3)

### Q35. Check if a value exists in a tuple.

In [66]:
my_tuple = (1, 2, 3, 4)
print(3 in my_tuple)

True

### Q36. Concatenate two tuples.

In [ ]:
tuple1 = (1, 2)
tuple2 = (3, 4)
combined = tuple1 + tuple2
print(combined)

(1, 2, 3, 4)

### Q37. Repeat a tuple 3 times.

In [96]:
tuple1 = (1, 2)
tuple2 = (3, 4)
repeated = tuple1 * 3
print(repeated)

(1, 2, 1, 2, 1, 2)

### Q38. Find the index of an element in a tuple.

In [67]:
my_tuple = (1, 2, 3, 4)
print(my_tuple.index(3))

2

### Q39. Use tuple unpacking to assign values to variables.

In [97]:
my_tuple = (1, 2, 3, 4)
a, b, c, d = my_tuple
print(a, b, c, d)

1 2 3 4

### Q40. Create a nested list and access an inner element.

In [69]:
nested = [[1, 2], [3, 4]]
print(nested[1][0])

3

### Q41. Create a set of 5 unique colors.

In [ ]:
colors = {"red", "green", "blue", "yellow", "black"}
print(colors)

### Q42. Add a new color to the set.

In [70]:
colors = {"red", "green", "blue", "yellow", "black"}
colors.add("white")
print(colors)

{'red', 'yellow', 'green', 'blue', 'black', 'white'}

### Q43. Remove an item from the set using `remove()`.

In [71]:
colors = {"red", "green", "blue", "yellow", "black"}
colors.remove("red")
print(colors)

{'yellow', 'green', 'blue', 'black'}

### Q44. Use `discard()` to remove an item that may or may not exist.

In [72]:
colors = {"red", "green", "blue", "yellow", "black"}
colors.discard("pink")  
print(colors)

{'red', 'yellow', 'green', 'blue', 'black'}

### Q45. Create a set from a list with duplicate values.

In [74]:
duplicate_list = [1, 2, 2, 3, 4, 4]
set = set(duplicate_list)
print(set)

{1, 2, 3, 4}

### Q46. Find the union of two sets.

In [75]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
print(s1.union(s2))

{1, 2, 3, 4, 5}

### Q47. Find the intersection of two sets.

In [98]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
print(s1.intersection(s2))

{3}

### Q48. Find the difference between two sets.

In [99]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
print(s1.difference(s2))

{1, 2}

### Q49. Check if a set is a subset of another set.

In [100]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
print(s1.issubset(s2))

False

### Q50. Check if two sets are disjoint.

In [101]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
print(s1.isdisjoint(s2))

False

### Q51. Create a dictionary with 3 items: name, age, and city.

In [83]:
person = {"name": "ahmed", "age": 20, "city": "Cairo"}
print(person)

{'name': 'ahmed', 'age': 20, 'city': 'Cairo'}

### Q52. Add a new key-value pair to the dictionary.

In [84]:
person = {"name": "ahmed", "age": 20, "city": "Cairo"}
person["job"] = "Engineer"
print(person)

{'name': 'ahmed', 'age': 20, 'city': 'Cairo', 'job': 'Engineer'}

### Q53. Update the value of an existing key in the dictionary.

In [85]:
person = {"name": "ahmed", "age": 20, "city": "Cairo"}
person["age"] = 31
print(person)

{'name': 'ahmed', 'age': 31, 'city': 'Cairo'}

### Q54. Remove a key from the dictionary using `pop()`.

In [86]:
person = {"name": "ahmed", "age": 20, "city": "Cairo"}
person.pop("city")
print(person)

{'name': 'ahmed', 'age': 20}

### Q55. Check if a key exists in the dictionary.

In [87]:
person = {"name": "ahmed", "age": 20, "city": "Cairo"}
print("name" in person)

True

### Q56. Loop through a dictionary and print all keys and values.

In [102]:
person = {"name": "ahmed", "age": 20, "city": "Cairo"}
for key, value in person.items():
    print(f"{key} : {value}")

name : ahmed
age : 20
city : Cairo

### Q57. Get all keys from a dictionary using `keys()`.

In [90]:
person = {"name": "ahmed", "age": 20, "city": "Cairo"}
print(person.keys())

dict_keys(['name', 'age', 'city'])

### Q58. Get all values from a dictionary using `values()`.

In [91]:
person = {"name": "ahmed", "age": 20, "city": "Cairo"}
print(person.values())

dict_values(['ahmed', 20, 'Cairo'])

### Q59. Get all key-value pairs using `items()`.

In [92]:
person = {"name": "ahmed", "age": 20, "city": "Cairo"}
print(person.items())

dict_items([('name', 'ahmed'), ('age', 20), ('city', 'Cairo')])

### Q60. Create a dictionary from two lists: one for keys and one for values.

In [93]:
keys = ["a", "b", "c"]
values = [1, 2, 3]
new_dict = dict(zip(keys, values))
print(new_dict)

{'a': 1, 'b': 2, 'c': 3}